<!-- Header -->
<header id="header" class="header">
    <img class="decoration-star" src="assets/images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="assets/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-5">
                <div class="text-container">
                    <h1 data-aos="fade-up" class="h1-large">Intelligent Solutions empowring you to promote your business value</h1>
                    <p class="p-large" data-aos="fade-up" data-aos-delay="400">Proactively meet the digital transformation era by getting access to the most smart affordable cloud solutions</p>
                    <a class="btn-solid-lg" routerLink="./" fragment="about-us">More details</a>
                    <a class="btn-outline-lg" href="#contact">Contact us</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-5 col-xl-7" data-aos="zoom-out" data-aos-delay="600">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/header.png" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</header>
<!-- end of header -->
<!-- end of header -->