<!-- Details 1 -->
<!-- <div id="about-us" class="basic-2 cards-2">
    <img class="decoration-star" src="assets/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-1.png" alt="alternative">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>Office spaces should be unique they don’t need to look the same</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">At every tiled on ye defer do. No attention suspected oh difficult. Fond his say</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Old meet cold find come whom. The sir park sake bred. Wonder matter now</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Can estate esteem assure fat roused. Am performed on existence as discourse</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">existence as discourse is. Pleasure friendly at marriage blessing or should</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg" href="article.html">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- Introduction -->
<div id="about-us" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Isera</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-11">
                <!-- <h2>
                    Isera
                </h2> -->
                <p>
                    is a software development company creating automated tools and solutions in two essential characteristics simplicity and being smart, we are serving many sectors such as healthcare, industrial, commerrcial, business development etc.
                </p>

                <p>
                    Our goal is to support our partners to improve the quality of the services, enhance business value, growth opportunities and profitability in a win-win relationship.
                    <b>Our customers are our partners</b>
                </p>

                <!-- <div class="basic-slogn">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-container">
                                    <h2>Our customers are our partners</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of introduction -->