<!-- Details 2 -->
<div id="why-us" class="basic-3 cards-2">
    <img class="decoration-star" src="assets/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Why ISERA</h2>
            </div>
            <!-- end of col -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>With ISERA you will get</h2>
                    <p>world-class, affordable and reliable solutions in behaviour-driven and continuous improvement environment, to seamlessly maintain an up to date and secured experience</p>
                    <a class="btn-solid-reg" href="#contact">Get started</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <!-- <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-2.png" alt="alternative">
                </div>
            </div> -->

            <div class="col-lg-6 col-xl-5 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-12 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box d-flex align-items-center">
                            <i class="far fa-check-circle"></i>
                            <h3>Security & Privacy</h3>
                        </div>
                    </div>

                    <div class="col-md-12 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box d-flex align-items-center">
                            <i class="far fa-check-circle"></i>
                            <h3>Availability & Continuity</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
                        <div class="feature-box d-flex align-items-center">
                            <i class="far fa-check-circle"></i>
                            <h3>Support</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="500">
                        <div class="feature-box d-flex align-items-center">
                            <i class="far fa-check-circle"></i>
                            <h3>Tailoring</h3>
                        </div>
                    </div>

                    <div class="col-md-12 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="600">
                        <div class="feature-box d-flex align-items-center">
                            <i class="far fa-check-circle"></i>
                            <h3>Continous Improvement</h3>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="700">
                        <div class="feature-box d-flex align-items-center">
                            <i class="fal fa-check-circle"></i>
                            <h3>Repellendus mollitia</h3>
                        </div>
                    </div> -->

                </div>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-3 -->
<!-- end of details 2 -->

<section id="counts" class="counts">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="far fa-smile"></i>
                    <div>
                        <span data-toggle="counter-up" [countUp]="2000">0</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                    <div>
                        <span data-toggle="counter-up" [countUp]="521">0</span>
                        <p>Case Study</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <!-- <i class="fal fa-headset" style="color: #15be56;"></i> -->
                    <i class="fas fa-headset" style="color: #15be56;"></i>
                    <div>
                        <span data-toggle="counter-up" [countUp]="1463">0</span>
                        <p>Hours Of Support</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="fal fa-people" style="color: #bb0852;"></i>
                    <div>
                        <span data-toggle="counter-up" [countUp]="15">0</span>
                        <p>Hard Workers</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>