.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.footer .fa-stack {
    width: 2em;
    margin-bottom: 1.25rem;
    margin-right: 0.375rem;
    font-size: 1.5rem;
}

.footer a {
    text-decoration: none;
}

.footer .fa-stack .fa-stack-2x {
    color: #ffffff;
    transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-1x {
    color: #1b1e7b;
    transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #1b1e7b;
}

.footer .fa-stack:hover .fa-stack-1x {
    color: #ffffff;
}